<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

<location path="." inheritInChildApplications="false">
  <connectionStrings>
    <add name="EBidConnectionString" connectionString="Data Source=10.226.135.113,2433;Initial Catalog=EBid;User ID=ebid_user;pwd=ebid123;Max Pool Size=200" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SMTPServer" value="10.225.208.15" />
    <add key="SMTPServerPort" value="25" />
    <add key="AdminEmailName" value="Globe Telecom Procurement" />
    <add key="AdminEmailAddress" value="gtcalahi@globetel.com.ph" />
    <add key="TxtConnect.txtconnws" value="https://202.126.45.37/webservices/txtconnws.asmx" />
    <add key="TxtConnWS.tcws" value="https://202.126.45.37/webservices/txtconnws.asmx" />
    <add key="TxtConnUsername" value="GT_E_SOURCE" />
    <add key="TxtConnPassword" value="globe123" />
    <add key="TxtConnOrganization" value="GT_E_SOURCE" />
    <add key="UseNewSendMethod" value="false" />
    <add key="UseProxy" value="false" />
    <add key="ProxyHost" value="192.21.200.132" />
    <add key="ProxyPort" value="8080" />
    <add key="ProxyUsername" value="isol_rudolph" />
    <add key="ProxyPassword" value="globe123" />
    <add key="ProxyDomain" value="globetel" />
    <add key="Mask" value="GT E-Source" />
    <add key="ValidMobilePhonePrefixes" value="0905|0906|0910|0915|0916|0917|0918|0919|0920|0921|0922|0926|0927|0928" />
    <add key="ServerUrl" value="https://e-sourcing.globe.com.ph" />
    <add key="LoginPage" value="~/login.aspx" />
    <add key="BuyerHomePage" value="~/web/buyerscreens/index.aspx" />
    <add key="VendorHomePage" value="~/web/vendorscreens/index.aspx" />
    <add key="PurchasingHomePage" value="~/web/purchasingscreens/index.aspx" />
    <add key="AdminHomePage" value="~/admin/index.aspx" />
    <add key="BidsOpeningCommitteeHomePage" value="~/web/boc/index.aspx" />
    <add key="BidsAwardingCommitteeHomePage" value="~/web/bac/index.aspx" />
    <add key="CommentsPerPage" value="3" />
    <add key="TitleFormat" value=".::| Globe Telecom eSourcing System | {0} |::." />
    <add key="MaxFileSize" value="512000" />
    <add key="FilePrefix" value="EBidFileAttachment_" />
    <add key="FileAttachmentsFolder" value="fileattachments" />
    <add key="FileAttachmentsDirectory" value="..//fileattachments" />
    <add key="FileExtensionsNotAllowed" value=".vbs|.js|.exe|.bat|.msi|.hta|.cmd|.ini|.lnk|.pif|.com|.dll|.msc|.cs|.master.cs|.aspx|.asp|.config|.asax|.sln|.suo|.vssscc|.scc|.dll" />
    <add key="TempFilesFolder" value="temp" />
    <add key="MinimumPasswordSize" value="8" />
    <add key="MaximumPasswordSize" value="24" />
    <add key="LogName" value="EBidLog" />
    <add key="ProgramName" value="EBidApp" />
    <add key="LogDirectory" value="C:\Temp\EbidLogs\" />
    <add key="UseSecureConnection" value="Off" />
    <add key="SecuredPages" value="login.aspx|help.aspx" />
    <add key="WebRoot" value="http://localhost" />
  </appSettings>
<system.web>
    <customErrors mode="Off" />
    <pages theme="default" controlRenderingCompatibilityVersion="4.5" clientIDMode="AutoID" validateRequest="false">
    </pages>
	<compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>


  
  
   

    <!--	<xhtmlConformance mode="Legacy"/> -->
</location>
  <!-- ************************************************************************************************************************************ -->
  <!-- ************************************************************************************************************************************ -->
    <!-- ************************************************************************************************************************************ -->
  <!-- ************************************************************************************************************************************ -->

</configuration>